*{
    
    box-sizing: border-box;
}
.box-px{
    width:200px;
    height: 100px;
    border: 2px solid black;
}
.child-percent{
    width:50%;
    height: 50%;
    border: 2px solid black;
    background-color: aqua;
}
.parent-percent{
    width: 300px;
    height: 300px;
    border: 2px solid blue;
}
.rem-paragraph{
    font-size: 2rem;

}
.parent-em{
    font-size: 16px;
}
.child-em{
    font-size: 1.5em;
}
.box-vw{
    width:50vw;
    border: 2px solid black;
}
.box-vh{
    height: 25vh;
    width: 100px;
    border: 2px solid pink;
}
.square-vmin{
    width:20vmin;
    height: 20vmax;
    border: 2px solid brown;
}
.square-vmax{
    width:20vmax;
    height: 20vmax;
    border: 2px solid limegreen;
}
.parent-relative{
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid lightcoral;
}
.child-absolute{
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    border: 2px solid blueviolet;
}
.parent-font{
    font-size: 20px;

}
.child-font{
font-size: inherit;
}